/*<meta sourceDocument="C:\Users\dspencer\Desktop\Cust Performance Issues.docx" />*/

p
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

li
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

td
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	vertical-align: top;
}

li.ListParagraph
{
	margin-bottom: 8pt;
	font-size: 11pt;
	margin-left: 36pt;
	font-family: Calibri;
}

ul.ul_1
{
	list-style-type: square;
	margin-left: 36pt;
}

